.page {
	margin: 70px;
}

body {
	background-image: url(bio-background.jpg);
}

img {
	max-height: 200px;
	display: block;
	margin: auto;
	padding-bottom: 70px;
	padding-top: 70px;
}

h1 {
	text-align: center;
	font-family: Arial;
}

a {
	font-family: Arial;
	text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.links {
	font-family: Arial;
	text-align: center;
}