h1 {
	text-align: center;
	font-family: 'Arial';
}
.job-header {
	font-family: 'Arial'
}

body {
	background-image: url(http://i2.kym-cdn.com/entries/icons/original/000/018/929/graphic_design_is_my_passion.png);
}