body {
	
}
.page {
	margin-left:  10px;
	margin-right: 10px;
}

.list {
	display: inline-block;
	align-self: center;
	font-family: Arial;
	padding-top: 30px;
	padding-left: 30px;
}
h1 {
	text-align: center;
	font-family: Arial;
}

p {
	font-family: Arial;
	text-align: center;
	margin-left: 210px;
	margin-right: 210px ;
}

.contact_info {
	font-size: 30px;
}

.hello {
	display: block;
	margin: auto;
	max-height: 80px;
	padding-top: 30px;
}

.portrait {
	max-width: 30%;
	max-height: 200px;
	display: block;
	margin: auto;
	padding-top: 30px;
}

.description {
	float:right;
}

.cover {
	display: block;
	margin:auto;
	width: 80%;
	text-align: center;
	max-width: 50%;
	max-width: 500px;
} 

a {
	font-family: Arial;
	text-align: center;
}

object {
	display: block;
	margin: auto;
	padding: 30px;
	width: 600px;
	height: 830px;

}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: flex;
	justify-content: center;
	padding-top: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.resume_link:hover {
	background-color: #99e265;
    color: black;
}

.contact_link:hover {
	background-color: #b760e6;
    color: black;
}

.project_link:hover {
	background-color: #ff5c5c;
    color: black;
}

.index_link:hover {
	background-color: #5271ff;
    color: black;
}

.links {
	font-family: Arial;
	text-align: center;
}
